/* Universal Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    background: rgb(92 17 31);
    color: #fff;
    font-family: Arial;
}

/* Container Styles */
.container { 
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
    height: 200px;
    top: 50%;
}

/* Button Styles */
.btn {
    margin: 5px auto;
    border: none;
    color: rgb(189, 189, 189);
    background-color: #205857;
    text-align: center;
    text-decoration: none;
    padding: 0.8em 1.5em;
    display: flex;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: 0.2s all linear;
}

.home {
    color: rgb(189, 189, 189);
    padding: 50px;
    font-size: 40px;
}

/* Button Hover Styles */
.btn:hover {
    background-color: rgba(8, 8, 8, 0.671);
    border: 1px solid rgba(0, 139, 139, 0.363);
}

/* Heading Styles */
h1 {
    text-align: center;
    font-size: 28px;
}

/* Game Container Styles */
.game-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

/* Images Container Styles */
.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 220px;
}

/* Image Styles */
.computer img, .player img {
    width: 75%;
    margin: auto;
}

/* Animation Classes */
.shakeComputer {
    animation: shakeComputer 0.8s linear;
}

.shakePlayer {
    animation: shakePlayer 0.8s linear;
}

/* Points Display Styles */
.points {
    margin: 1em 0;
    text-align: center;
    font-size: 18px;
}

.computerPoint {
    margin-left: 1em;
}

.playerPoint {
    margin-right: 1em;
}

/* Choice Image Styles */
.computer-choice, .player-choice {
    filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}

/* Result Display Styles */
.resultDisplay {
    text-align: center;
    font-family: Arial;
    font-size: 32px;
}

/* Reset Button Styles */
.reset-btn {
    margin: 20px auto;
    border: none;
    color: #fff;
    background-color: #120606;
    text-align: center;
    text-decoration: none;
    padding: 0.8em 1.5em;
    display: flex;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: 0.2s all linear;
}

/* Reset Button Hover Styles */
.reset-btn:hover {
    background-color: rgba(18, 49, 55, 0.993);
    border: 1px solid rgba(0, 139, 139, 0.363);
}

/* Options Container Styles */
.options {
    display: flex;
    justify-content: center;
}

/* Option Button Styles */
.option {
    background: none;
    color: #fff;
    font-family: Arial;
    border: 1px solid #fff;
    padding: 0.8em 1.5em;
    border-radius: 5px;
    width: 120px;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    transition: 0.2s all linear;
    margin: 50px;
}

/* Option Button Hover Styles */
.option:hover {
    background-color: rgba(0, 0, 0, 0.942);
    border: 1px solid rgba(0, 139, 139, 0.363);
}

/* Home Button Styles */
.home-btn {
    margin: 5px auto;
    color: rgb(189, 189, 189);
    background-color: #205857;
    text-align: center;
    text-decoration: none;
    padding: 0.8em 1.5em;
    display: flex;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s all linear;
}

/* Home Button Hover Styles */
.home-btn:hover {
    background-color: rgba(8, 8, 8, 0.671);
    border: 1px solid rgba(0, 139, 139, 0.363);
}

/* Keyframes for Shake Animations */
@keyframes shakeComputer {
    0% {
        transform: rotate(-30deg);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes shakePlayer {
    0% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    75% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Responsive Styles */
@media all and (max-width: 768px) {
    .game-container {
        max-width: 800px;
    }

    .options {
        flex-direction: row;
        justify-content: center;
    }

    .option {
        width: 100%;
        max-width: 120px;
        padding: 0.8em;
        margin: 0.5em;
    }
}
    